/**
 - dataTable.css
 - Custom Data Table
 - Project: Texaco POS Admin Portal
 **/
 .pagination > li > a {
 	cursor: pointer;
 }

 .custom_datatable > thead > tr > th.sorting {
 	cursor: pointer;
 }

 .btn-search {
 	width: 100%;
 }

 .datatable_length {
 	text-align: right;
 }

 .datatable_label_length {
 	font-weight: normal;
 	text-align: right;
 	white-space: nowrap;
 }

 .custom_pagination {
 	float: right;
 }

 .custom_datatable_print_export {
 	margin-bottom: 5px;
 }